$font-size: 30px;
$primary-color: #12345678;

div {
  color: $primary-color;
  font-size: $font-size;
}

.example {
  display: flex;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
